EXPO_PUBLIC_ENV_NAME=development
EXPO_PUBLIC_API_BASE_URL=https://backend.sporhive.com/api/v1
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_KEY_HERE
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.your_public_mapbox_token
